.Navbar > ul,
ul > li > a {
  display: none;
}

.Hamburger-menu {
  max-width: 50px;
  position: absolute;
  left: 80%;
  top: 10px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.header {
  width: 100%;
  background: #011827;
  color: #FFFFFF;
}
.header nav > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.header a {
  color: #E5E5E5;
  text-decoration: none;
}
.header .ESC-logo {
  display: inline;
  height: 82px;
}
.header .header-title {
  display: inline;
}

.Frontpage-picture {
  width: 100%;
  margin-bottom: 37px;
}

.Challenges-btn {
  align-items: center;
  background-color: #8ACFE5;
  border-radius: 4px;
  border: none;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  height: 66px;
  width: 308px;
}

.Online-challenges-btn {
  border: none;
  background: none;
  margin-bottom: 67px;
}

.Review-card {
  display: flex;
  justify-content: flex-start;
  width: 90%;
  height: 139px;
  border: 1px solid red;
  margin-left: 20px;
  margin-right: 20px;
}
.Review-card img {
  display: inline-block;
  align-self: flex-start;
}
.Review-card div {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
.Review-card q {
  align-self: flex-start;
}
.Review-card small {
  display: block;
  align-self: flex-end;
}

.challenges-title {
  margin-bottom: 45px;
}

.Escape-rooms-booking {
  width: 80%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 47px;
}
.Escape-rooms-booking .Booking-picture {
  border-radius: 8px 8px 0px 0px;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}
.Escape-rooms-booking .Booking-content {
  margin-left: 15px;
}
.Escape-rooms-booking .Booking-content button {
  margin: 20px 10px 10px 80px;
  width: 180px;
  height: 44px;
  border: none;
  border-radius: 4px;
  background-color: #E3170A;
  color: #FFFFFF;
}

.Story-preview {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #011827;
  color: #FFFFFF;
}
.Story-preview p {
  text-align: center;
  padding: 90px 20px 5px 20px;
}
.Story-preview button {
  background-color: #011827;
  color: #8ACFE5;
  border: 2px solid #8ACFE6;
  border-radius: 4px;
  align-self: center;
  width: 308px;
  height: 66px;
  margin: 80px 80px 80px 80px;
}

.Book-on-site {
  width: 100%;
}
.Book-on-site #Book-on-site-pic {
  width: 100%;
  padding-bottom: 30px;
}
.Book-on-site .Bos-text {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}
.Book-on-site .Bos-text h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  margin-left: 20px;
  margin-right: 20px;
}
.Book-on-site .Bos-text p {
  margin-bottom: 20px;
}
.Book-on-site .Bos-text button {
  background-color: red;
  border-radius: 4px;
  border: none;
  width: 308px;
  height: 66px;
}/*# sourceMappingURL=sec.css.map */